$border: 1px solid;
/*
1920
*/

.body_content {
  //border: $border;
  //margin-top: 5.65rem;
  //margin-bottom: 10.2rem;
}

.container {
  //border: $border;
  margin-left: 50%;
  
  .card{
    //width: 940px;
  }
  .list-group {
      margin-top: 150px;
  }
}

//.input-group {
//  //border: $border;
//  width: 90px;
//  height: 30px;
//  .btn {
//    width: 30px;
//    height: 30px;
//  }
//  .input-number {
//    height: 30px;
//  }
//}

@media (max-width: 425px) {
  .body_content {
    margin-top: 2.71rem;
  }
  .list-group {
      margin-top: 0px;
  }
}
